// // *****************************************************************************
// // KATOEN VARIABLES
// // *****************************************************************************
// //Use this to organize your z-indexes
// $zindex-navigation: 1000;
// $zindex-hero: 200;
// $zindex-main: 300;
// $zindex-footer: 100;

// //Determines if it gets compiled to a silent class (%) or a regular one.
// $silent: (
// 	grid: false,
// 	spacing: false,
// );

// //debug level 0 = disable debug, 
// //debug level 1 = develop, shows current breakpoint, but compiles all the templates
// $debug-level: 0;


// // *****************************************************************************
// // GRID
// // *****************************************************************************
// //How many columns there should be
// $columns: 12;

// //Overrides the gutter width on a certain breakpoint
// $gutters: (
// 	xs: 2em
// );

// //All the breakpoints. Em's have a preference because of zooming
// //Default is linear scaling. No specific device results in better 
// //forward compatibiliy
// $breakpoints: (
// 	xs: 18.75em, //300px
// 	sm: 31.25em, //500px
// 	md: 43.75em, //700px
// 	lg: 56.25em, //900px
// 	xl: 75em     //1200px
// );

// //Default container width. Reccomendation is a percentage
// $container-width: 100%;

// //Define max-widths for your container per breakpoint only neccesary for xl most of the time
// $container-maxwidth: (
// 	xl: 75em
// );


// // *****************************************************************************
// // COMPONENTS
// // *****************************************************************************

// //PATTY
// /////////////////////////////
// $patty-width: 30px;
// $patty-linewidth: 4px;
// $patty-distance: 4px;
// $patty-linecolor: #fff;


// //SPACING
// /////////////////////////////
// //#BUG ALERT!
// //if you have a .xs-pb-1 and a xl-pb-2, and the gutter changes on the xl breakpoint,
// //the xs-pb-1 gets used instead of the more important xl-pb-2 (as defined by the breakpoint)
// //The fix to this is to add the breakpoint-specific properties after the grouped selectors (:44-54)
// //This needs to be tested for output though

// //Every value adds another key to your selector, if $spacing consists of 2 items,
// //your classess will be xs-mb-1, xs-mb-2. The contents of these items (2 and 4 by default)
// //represent the number of gutters it will put space around
// $spacing-multiplier: (2, 4);
// $spacing-properties: (
// 	p: (padding-top, padding-bottom),
// 	mt: margin-top,
// 	mb: margin-bottom
// );

// //By default the distance is based on your gutter width
// $spacing-distance: (
// 	xs: map-get($gutters, xs),
// );


// // *****************************************************************************
// // FUNCTIONS
// // *****************************************************************************

// //ANIMATION SYSTEM
// /////////////////////////////
// $transition-durations: (
// 	slow: 1s,
// 	normal: .5s,
// 	fast: .2s,
// );

// $transition-easings: (
// 	ease: ease,
// 	easeOut: cubic-bezier(0, 0, 0, 1),
// 	bounce: cubic-bezier(0.56,0,0,1.6),
// 	elastic: cubic-bezier(0,0,0,3)
// );

// //COLOR SYSTEM
// /////////////////////////////
// //Colors used in SASS
// $colors: (
// 	'black'         : #222,
// 	'white'         : #eee,
// );
// //COLOR SYSTEM
// /////////////////////////////
// $themes: (
//     'green': (
// 		'primary': cl('green'),
// 		'secondary': cl('red')
//     )
// );
// //BREAKPOINT SKIPPER (skips xs breakpoint for media queries, turning it into mobile first
// /////////////////////////////
// $skipquery: if(variable-exists(breakpoints), nth(map-keys($breakpoints), 1), xs)